body,
button,
input {
  font-family: monospace;
}

body {
  background: white;
}

header,
main,
footer,
aside {
  margin: 4rem auto;
  max-width: 1024px;
  width: 90%;
}

aside section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
aside div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
aside p {
  margin: 0;
  text-align: center;
}
aside p a {
  display: block;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: #000;
}

h1,
h2 {
  font-weight: normal;
}

@media (min-width: 1024px) {
  main {
    display: flex;
    gap: 2rem;
  }
  main > * {
    width: 50%;
  }
  aside div {
    width: calc(50% - 2rem);
  }
}

main section > * + * {
  margin-top: 1rem;
}
main section .file {
  height: 50px;
  transition: height 250ms linear;
}
main section .file .file-upload {
  transition: opacity 150ms linear 350ms;
}
main section .file.disabled {
  height: 0;
}
main section .file.disabled .file-upload {
  opacity: 0;
  transition: opacity 50ms linear 0s;
}
main section .input canvas,
main section .output canvas {
  background: #000;
  height: auto;
  margin: 0 auto;
  width: 100%;
}
main section .file:not(.disabled) + .output:not(:empty)::after {
  content: 'Right Click and "Save Image as..."';
  text-align: center;
  display: block;
  margin-top: 0.5rem;
  width: 100%;
  font-size: 12px;
}
main section .audio a {
  background: #000;
  color: #fff;
}
main section .audio .progress {
  background: #f0f0f0;
}
main section .audio .progress span {
  background: #000;
}
main section .file-upload {
  background: #f0f0f0;
}
main section .file-upload.is-active,
main section .file-upload:hover {
  background: #000;
  color: white;
}
@keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
button#record {
  line-height: 16px;
  font-size: 12px;
  width: 100px;
  padding: 0.5rem;
  margin: 0 auto;
  background: #000;
  color: #fff;
  height: 36px;
  border-radius: 18px;
  cursor: pointer;
}
button#record.active {
  background: #000;
  animation: pulse 0.5s ease-in-out infinite alternate;
}
button#record:focus {
  outline: 0;
}
button#record > span {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
button#record > span::before {
  content: "";
  display: inline-block;
  margin-right: 0.5rem;
  background: #fff;
}
button#record > span:first-child::before {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  margin-top: 2px;
}
button#record > span:last-child::before {
  height: 10px;
  width: 10px;
  margin-top: 3px;
}
button#record.active span:first-child {
  display: none;
}
button#record:not(.active) span:last-child {
  display: none;
}
.checkbox {
  position: relative;
  display: block;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}
.checkbox label {
  width: 100%;
  cursor: pointer;
  display: flex;
}
.checkbox label::after,
.checkbox label::before {
  line-height: 36px;
  height: 36px;
  width: 80px;
  text-align: center;
  font-size: 12px;
}
.checkbox label::before {
  content: attr(unchecked);
}
.checkbox label::after {
  color: #666;
  content: attr(checked);
}
.checkbox label span {
  display: block;
  position: relative;
  width: 80px;
  height: 36px;
  line-height: 36px;
  background: #000;
  border-radius: 18px;
}
.checkbox label span::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 18px;
  z-index: 2;
  transition: left 150ms ease-in-out;
  left: 0.5rem;
  top: 0.5rem;
  height: calc(36px - 1rem);
  width: calc(36px - 1rem);
  background: #fff;
}
.checkbox input {
  position: absolute;
  left: -9999999px;
}
.checkbox input:checked + label::before {
  color: #666;
}
.checkbox input:checked + label::after {
  color: black;
}
.checkbox input:checked + label span {
  background: #000;
}
.checkbox input:checked + label span::after {
  left: calc(100% - (36px - 0.5rem));
}
button {
  display: block;
  width: 100%;
  appearance: none;
  border: none;

  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: #000;
}
canvas {
  width: 100%;
  height: auto;
  display: block;
}
.audio {
  height: 30px;
  user-select: none;
  display: flex;
}
.audio a {
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  font-size: 12px;
}
@keyframes move-audio-progress {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 7.5px);
  }
}
.audio.streaming .progress span {
  width: 7.5px;
  position: absolute;
  top: 0;
}
.audio.streaming.complete .progress span {
  width: 100%;
  background: #000;
}
.audio.streaming:not(.complete) .progress span {
  animation: move-audio-progress 1s ease-in-out infinite alternate;
}
.audio .progress {
  position: relative;
  flex: 1;
}
.audio .progress span {
  transition: width 0.1s linear;
  height: 100%;
  display: block;
  width: 0;
}
.audio.disabled a {
  pointer-events: none;
  opacity: 0.5;
}
.file-upload {
  cursor: pointer;
  height: 100%;
  display: block;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.recorder-file .file-upload::after {
  content: "choose wav/mp3 (60s max)";
}
.player .file-upload::after {
  content: "choose an image";
}
.file-upload::after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}
.file-upload [type="file"] {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  outline: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 9;
}
