$font: 'Roboto', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif;
$header-h: 36px;
$checkbox-w: 80px;
$file-h: 100px;
$audio-h: 30px;

html,
body {
  height: 100%;
}
body {
  font-family: $font;
  margin: 0;
  font-weight: 300;
  nav {
    display: flex;
    button {
      postion: relative;
      z-index: 1;
      color: #999;
      background: #ccc;
      &.active {
        color: black;
        background: white;
        z-index: 2;
      }
    }
  }
  header {
    height: $header-h;
  }
  main {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    section {
      box-sizing: border-box;
      padding: 1rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      .file {
        height: $file-h;
        transition: height 250ms linear, margin-top 50ms linear 250ms;
        .file-upload {
          transition: opacity 150ms linear 350ms;
        }
        &.disabled {
          margin-top: 0;
          height: 0px;
          .file-upload {
            opacity: 0;
            transition: opacity 50ms linear 0ms;
          }
        }
      }
      div:not(.file):not(.audio) {
        flex: 1;
      }
      > * + * {
        margin-top: 1rem;
      }
      .file {
        background: #f0f0f0;
      }
      .audio {
        a {
          background: black;
          color: white;
        }
        .progress {
          background: #f0f0f0;
          span {
            background: tomato;
          }
        }
      }
      &.player {
        background: #242424;
        .file {
          background: #343434;
          color: white;
        }
        .audio {
          a {
            background: tomato;
          }
          .progress {
            background: #343434;
            span {
              background: #444;
            }
          }
        }
      }
      &,
      &.player {
        .file-upload.is-active,
        .file-upload:hover {
          background: tomato;
          color: white;
        }
      }
    }
  }
}

span.checkbox {
  position: relative;
  display: block;
  width: $checkbox-w * 3;
  margin: 0 auto;
  label {
    width: 100%;
    cursor: pointer;
    display: flex;
    &::before,
    &::after {
      line-height: $header-h;
      height: $header-h;
      width: $checkbox-w;
      text-align: center;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.125em;
    }
    &::before {
      color: #000;
      content: attr(unchecked);
    }
    &::after {
      color: #ccc;
      content: attr(checked);
    }
    span {
      display: block;
      position: relative;
      width: $checkbox-w;
      height: $header-h;
      line-height: $header-h;
      background: tomato;
      border-radius: $header-h * 0.5;
      &::after {
        content: '';
        display: block;
        height: $header-h - 4;
        position: absolute;
        border-radius: $header-h * 0.5;
        z-index: 2;
        transition: left 150ms ease-in-out;
        left: 2px;
        top: 2px;
        width: $header-h - 4;
        background: white;
      }
    }
  }
  input {
    position: absolute;
    left: -9999999px;
    &:checked {
      + label {
        &::before {
          color: #ccc;
        }
        &::after {
          color: #000;
        }
      }
      + label span {
        background: tomato;
        &::after {
          left: calc(100% - #{$header-h - 2px});
        }
      }
    }
  }
}

button {
  display: block;
  width: 100%;
  appearance: none;
  border: none;
  color: white;
  font-weight: 300;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: black;
  font-family: $font;
}

canvas {
  width: 100%;
  height: auto;
  display: block;
}

.audio {
  height: $audio-h;
  user-select: none;
  display: flex;
  a {
    width: $audio-h;
    height: $audio-h;
    display: block;
    text-align: center;
    line-height: $audio-h;
    text-decoration: none;
    font-size: 12px;
  }
  @keyframes move-audio-progress {
    from {
      left: 0;
    }
    to {
      left: calc(100% - #{$audio-h * 0.25});
    }
  }
  &.streaming {
    .progress span {
      width: $audio-h * 0.25;
      position: absolute;
      top: 0;
    }
    &.complete {
      .progress span {
        width: 100%;
        background: tomato;
      }
    }
    &:not(.complete) {
      .progress span {
        animation: move-audio-progress 1000ms ease-in-out infinite alternate;
      }
    }
  }
  .progress {
    position: relative;
    flex: 1;
    span {
      transition: width 100ms linear;
      height: 100%;
      display: block;
      width: 0;
    }
  }
  &.disabled a {
    pointer-events: none;
    opacity: 0.5;
  }
}

.file-upload {
  cursor: pointer;
  height: 100%;
  display: block;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  .recorder &::after {
    content: 'Drop or Find Audio to Render';
  }
  .player &::after {
    content: 'Drop or Find an Image to Play';
  }
  &::after {
    position: absolute;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.125em;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
  }
  [type='file'] {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    z-index: 9;
  }
}
