$font: 'Roboto', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif;
$header-h: 36px;
$checkbox-w: 80px;
$file-h: 100px;
$audio-h: 30px;
$nav-h: 40px;

html,
body {
  height: 100%;
  min-height: 700px;
  background: #000;
}
@media (min-width: 600px) {
  .mobile {
    display: none;
  }
}
@media (max-width: 559px) {
  .mobile ~ * {
    display: none !important;
  }
  .mobile {
    text-align: center;
    color: tomato;
  }
  canvas {
    max-width: 100% !important;
  }
}

body {
  font-family: $font;
  margin: 0;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  nav {
    background: white;
    ul {
      display: flex;
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;
      justify-content: center;
      li {
        border-right: 2px solid #f0f0f0;
        &:first-child {
          border-left: 2px solid #f0f0f0;
        }
        height: $nav-h;
        line-height: $nav-h;
        overflow: hidden;
        width: 33.33%;
        text-align: center;
        a {
          padding: 0.125rem 1rem;
        }
        @media (max-width: 599px) {
          &:first-child {
            border-left: none;
          }
          &:last-child {
            border-right: none;
          }
        }
        @media (min-width: 600px) {
          width: auto;
          a {
            padding: 0.5rem 1rem;
            height: $nav-h;
            line-height: calc(#{$nav-h} - 1rem);
          }
        }
        a {
          box-sizing: border-box;
          text-decoration: none;
          display: block;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 0.125em;
          z-index: 1;
          color: black;
          background: #fff;
          &.active {
            color: white;
            background: tomato;
            z-index: 2;
          }
        }
      }
    }
  }
  header {
    height: $header-h;
  }
  main {
    flex: 1;
    width: 100%;
    margin: 0 auto;
    display: flex;
    section {
      color: white;
      display: none;
      &.active {
        display: flex;
      }
      box-sizing: border-box;
      flex: 1;
      flex-direction: column;
      header {
        padding: 1rem;
        display: flex;
      }
      article {
        flex: 1;
        width: 100%;
        @media (min-width: 601px) {
          display: flex;
          flex-wrap: wrap;
          aside {
            min-width: 200px;
            width: 33.33%;
          }
          .container {
            flex: 1;
          }
        }
        aside {
          background: #242424;
          color: white;
          box-sizing: border-box;
          padding: 1rem;
          line-height: 1.7;
          font-size: 12px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-content: space-between;
          h1,
          p {
            margin: 0;
          }
          h1 + p {
            margin-top: 1rem;
          }
          p + p {
            margin-top: 0.5rem;
          }
          > div + div {
            margin-top: 1rem;
          }
          h1 {
            font-weight: 300;
            border-bottom: 1px solid;
            line-height: $audio-h;
            height: $audio-h;
            font-size: 12px;
            color: tomato;
            text-transform: uppercase;
            letter-spacing: 0.125em;
          }
          a {
            text-decoration: none;
            color: tomato;
          }
        }
        .container {
          display: flex;
          flex-direction: column;
          div:not(.file):not(.audio) {
            flex: 1;
          }
          padding: 1rem 0;
          > * {
            padding: 0 1rem;
            + * {
              margin-top: 1rem;
            }
          }
        }
      }

      .file {
        height: $file-h;
        transition: height 250ms linear, margin-top 50ms linear 250ms;
        .file-upload {
          transition: opacity 150ms linear 350ms;
        }
        &.disabled {
          margin-top: 0;
          height: 0px;
          .file-upload {
            opacity: 0;
            transition: opacity 50ms linear 0ms;
          }
        }
      }
      .input,
      .output {
        canvas {
          margin: 0 auto;
          width: auto;
          height: auto;
          max-width: 600px;
          max-height: 400px;
        }
      }
      .file:not(.disabled) + .output:not(:empty)::after {
        content: 'Right Click and "Save Image as..."';
        color: white;
        text-align: center;
        display: block;
        margin-top: 0.5rem;
        width: 100%;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.125em;
      }
      .audio {
        a {
          background: tomato;
          color: white;
        }
        .progress {
          background: #242424;
          span {
            background: tomato;
          }
        }
      }
      .file-upload {
        background: #242424;
      }
      .file-upload.is-active,
      .file-upload:hover {
        background: tomato;
        color: white;
      }
    }
  }
}

@keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

button#record {
  line-height: 16px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.125em;
  width: 100px;
  padding: 0.5rem;
  margin: 0 auto;
  background: tomato;
  height: 36px;
  border-radius: 18px;
  cursor: pointer;
  &.active {
    background: #444;
    animation: pulse 500ms ease-in-out infinite alternate;
  }
  &:focus {
    outline: none;
  }

  > span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    &::before {
      content: '';
      display: inline-block;
      margin-right: 0.5rem;
      background: white;
    }
    &:first-child::before {
      border-radius: 50%;
      height: 12px;
      width: 12px;
      margin-top: 2px;
    }
    &:last-child::before {
      height: 10px;
      width: 10px;
      margin-top: 3px;
    }
  }
  &.active span:first-child {
    display: none;
  }
  &:not(.active) span:last-child {
    display: none;
  }
}

span.checkbox {
  position: relative;
  display: block;
  width: $checkbox-w * 3;
  margin: 0 auto;
  label {
    width: 100%;
    cursor: pointer;
    display: flex;
    &::before,
    &::after {
      line-height: $header-h;
      height: $header-h;
      width: $checkbox-w;
      text-align: center;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.125em;
    }
    &::before {
      color: #fff;
      content: attr(unchecked);
    }
    &::after {
      color: #666;
      content: attr(checked);
    }
    span {
      display: block;
      position: relative;
      width: $checkbox-w;
      height: $header-h;
      line-height: $header-h;
      background: tomato;
      border-radius: $header-h * 0.5;
      &::after {
        content: '';
        display: block;
        height: $header-h - 4;
        position: absolute;
        border-radius: $header-h * 0.5;
        z-index: 2;
        transition: left 150ms ease-in-out;
        left: 2px;
        top: 2px;
        width: $header-h - 4;
        background: white;
      }
    }
  }
  input {
    position: absolute;
    left: -9999999px;
    &:checked {
      + label {
        &::before {
          color: #666;
        }
        &::after {
          color: #fff;
        }
      }
      + label span {
        background: tomato;
        &::after {
          left: calc(100% - #{$header-h - 2px});
        }
      }
    }
  }
}

button {
  display: block;
  width: 100%;
  appearance: none;
  border: none;
  color: white;
  font-weight: 300;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: black;
  font-family: $font;
}

canvas {
  width: 100%;
  height: auto;
  display: block;
}

.audio {
  height: $audio-h;
  user-select: none;
  display: flex;
  a {
    width: $audio-h;
    height: $audio-h;
    display: block;
    text-align: center;
    line-height: $audio-h;
    text-decoration: none;
    font-size: 12px;
  }
  @keyframes move-audio-progress {
    from {
      left: 0;
    }
    to {
      left: calc(100% - #{$audio-h * 0.25});
    }
  }
  &.streaming {
    .progress span {
      width: $audio-h * 0.25;
      position: absolute;
      top: 0;
    }
    &.complete {
      .progress span {
        width: 100%;
        background: tomato;
      }
    }
    &:not(.complete) {
      .progress span {
        animation: move-audio-progress 1000ms ease-in-out infinite alternate;
      }
    }
  }
  .progress {
    position: relative;
    flex: 1;
    span {
      transition: width 100ms linear;
      height: 100%;
      display: block;
      width: 0;
    }
  }
  &.disabled a {
    pointer-events: none;
    opacity: 0.5;
  }
}

.file-upload {
  cursor: pointer;
  height: 100%;
  display: block;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  .recorder-file &::after {
    content: 'Drop or Find Audio to Render (30 second max)';
  }
  .player &::after {
    content: 'Drop or Find an Image to Play';
  }
  &::after {
    position: absolute;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.125em;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
  }
  [type='file'] {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    z-index: 9;
  }
}
