$font: 'Roboto', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif;

html,
body {
  height: 100%;
}
body {
  font-family: $font;
  margin: 0;
  font-weight: 300;
  nav {
    display: flex;
    button {
      postion: relative;
      z-index: 1;
      color: #999;
      background: #ccc;
      &.active {
        color: black;
        background: white;
        z-index: 2;
      }
    }
  }
  main {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    section {
      box-sizing: border-box;
      padding: 1rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      .file {
        height: 100px;
      }
      div:not(.file) {
        flex: 1;
      }
      > * + * {
        margin-top: 1rem;
      }
      .file-upload {
        background: #f0f0f0;
      }
      &.player {
        background: #121212;
        .file-upload {
          background: #2f2f2f;
          color: white;
        }
      }
      &,
      &.player {
        .file-upload.is-active,
        .file-upload:hover {
          background: tomato;
          color: white;
        }
      }
    }
  }
}

span.checkbox {
  $h: 36px;
  $w: 80px;
  position: relative;
  display: block;
  width: $w * 3;
  margin: 0 auto;
  label {
    width: 100%;
    cursor: pointer;
    display: flex;
    &::before,
    &::after {
      line-height: $h;
      height: $h;
      width: $w;
      text-align: center;
    }
    &::before {
      color: #000;
      content: attr(unchecked);
    }
    &::after {
      color: #ccc;
      content: attr(checked);
    }
    span {
      display: block;
      position: relative;
      width: $w;
      height: $h;
      line-height: $h;
      background: tomato;
      border-radius: $h * 0.5;
      &::after {
        content: '';
        display: block;
        height: $h - 4;
        position: absolute;
        border-radius: $h * 0.5;
        z-index: 2;
        transition: left 150ms ease-in-out;
        left: 2px;
        top: 2px;
        width: $h - 4;
        background: white;
      }
    }
  }
  input {
    position: absolute;
    left: -9999999px;
    &:checked {
      + label {
        &::before {
          color: #ccc;
        }
        &::after {
          color: #000;
        }
      }
      + label span {
        background: tomato;
        &::after {
          left: calc(100% - #{$h - 2px});
        }
      }
    }
  }
}

button {
  display: block;
  width: 100%;
  appearance: none;
  border: none;
  color: white;
  font-weight: 300;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: black;
  font-family: $font;
}

canvas {
  width: 100%;
  height: auto;
  display: block;
}

.file-upload {
  cursor: pointer;
  height: 100%;
  display: block;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  .recorder &::after {
    content: 'Drop or Find Audio to Render';
  }
  .player &::after {
    content: 'Drop or Find an Image to Play';
  }
  &::after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
  }
  [type='file'] {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    z-index: 9;
  }
}
